* {
  padding: 0;
  margin: 0; }

body {
  font-family: "TT Norms", sans-serif;
  opacity: 0.9;
  background-image: linear-gradient(299deg, #000000, #2d2a2e); }

a {
  text-decoration: none; }

.navigation {
  width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/main-blur.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  background-image: linear-gradient(299deg, #000000, #2d2a2e); }

.container {
  margin: 0 auto;
  text-align: center; }

@media (max-width: 1179px) {
  .container {
    width: 260px; } }

@media (min-width: 1180px) {
  .container {
    width: 1020px;
    height: 720px; } }

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 80px; }

.logo-group {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1179px) {
  .language {
    display: none; } }

@media (min-width: 1180px) {
  .language {
    font-family: "TT Norms", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7b7b7b;
    padding-left: 18px; } }

.menu {
  display: flex;
  justify-content: space-between; }

.enter {
  margin-top: 5px; }

.enter a {
  font-family: "TT Norms", sans-serif;
  text-decoration: none;
  width: 60px;
  height: 28px;
  background-color: #efac56;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 7px 9.5px 6px;
  border-radius: 9px; }

.burger-menu {
  height: 30px;
  padding-left: 20px;
  cursor: pointer; }

.burger-menu__image {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 12px 0px #ffffff, 0 24px 0px #ffffff; }

@media (max-width: 1179px) {
  .form-information {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1180px) {
  .form-information {
    display: flex;
    justify-content: space-between; } }

.manager-information {
  width: 250px;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 223px;
  margin-right: 150px;
  text-align: left; }

@media (min-width: 1180px) {
  .form-information {
    position: relative; }
    .form-information:before {
      position: absolute;
      content: "";
      top: -20px;
      left: 145px;
      width: 64px;
      height: 64px;
      opacity: 0.5;
      border: solid 2px #ffffff;
      border-radius: 50%; }
    .form-information:after {
      position: absolute;
      content: "";
      top: 295px;
      right: 0px;
      width: 120px;
      height: 120px;
      background-image: linear-gradient(45deg, #efac56, #d65718);
      border-radius: 50%; } }

@media (max-width: 1179px) {
  .manager-information img,
  .line-image {
    display: none; } }

@media (min-width: 1180px) {
  .manager-information img {
    display: block;
    border-radius: 50%;
    margin-top: 20px; }
  .manager-information {
    position: relative; }
  .line-image {
    position: absolute;
    bottom: 43px;
    left: 33px; } }

input {
  outline: none;
  border: 0; }

.form-group {
  width: 488px;
  height: 58px;
  margin-bottom: 20px;
  border: solid 1px rgba(255, 255, 255, 0.8);
  border-radius: 13px; }

.form-group:hover {
  outline: solid 1px #ffffff; }

.form-control {
  font-family: "TT Norms", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d8d8d8;
  background-color: transparent;
  padding-top: 13px; }

.contacts__button {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #efac56;
  padding: 6px 56px 11px;
  margin-top: 120px;
  border: 0px;
  outline: none;
  border-radius: 7px; }

@media (max-width: 1179px) {
  .site-information {
    margin: 12px auto 20px;
    width: 200px;
    font-family: TTNorms;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7b7b7b; } }

@media (min-width: 1180px) {
  .site-information {
    transform: rotate(-90deg) translateX(-155px) translateY(140px);
    width: 300px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7b7b7b; } }

.logo-slider__image {
  margin: 0 auto;
  margin-top: 284px;
  width: 320px;
  height: 152px; }

.demo-slider {
  opacity: 0.9;
  background-image: linear-gradient(312deg, #000000, #2d2a2e); }

.demo-container {
  height: 1140px; }

.enter-demo,
.burger-description {
  display: none; }

.burger-menu__image:before, .burger-menu__image:after {
  display: none; }

@media (max-width: 1179px) {
  .form-information {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1180px) {
  .enter-access a {
    background-color: #7b7b7b; }
  .enter-demo {
    display: block;
    margin-right: 40px; }
  .burger-menu__image {
    position: relative; }
    .burger-menu__image:before, .burger-menu__image:after {
      display: block;
      position: absolute;
      content: "";
      top: 85px;
      right: 40px;
      width: 2px;
      height: 10px;
      background-color: #7b7b7b; }
    .burger-menu__image:before {
      transform: rotate(45deg); }
    .burger-menu__image:after {
      transform: rotate(-45deg); }
  .burger-description {
    position: absolute;
    top: 45px;
    left: -85px;
    width: 72px;
    height: 55px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7b7b7b; } }

.video-launch {
  width: 120px;
  height: 120px;
  background-color: #efac56;
  z-index: 2; }

@media (max-width: 1179px) {
  .demo-presentation {
    display: flex;
    flex-direction: column; }
  .switchers,
  .video-lauhch img,
  .demo-links a,
  .demo-links p {
    display: none; }
  .system {
    margin-top: 106px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .demo-description {
    display: none; } }

@media (min-width: 1180px) {
  .demo-presentation {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; }
    .demo-presentation button {
      display: none; }
  .switchers__demo {
    width: 100px;
    height: 400px;
    margin-top: 300px;
    margin-right: 50px; }
  .switch__demo {
    width: 8px;
    height: 8px;
    margin-bottom: 18px;
    background-color: #ffffff;
    border-radius: 50%; }
    .switch__demo_active {
      background-color: #efac56; }
  .video-lauhch img {
    display: block;
    z-index: 1; }
  .system {
    margin-top: 100px;
    width: 415px;
    height: 228px;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left; }
  .demo-description {
    display: flex;
    justify-content: space-between; }
    .demo-description button {
      margin-top: 0; }
  .news a {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    padding: 12px 80px 12px 20px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 7px; }
  .demo-links p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7b7b7b; }
  .demo-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }
  .manager img {
    border-radius: 50%; } }

.case-slider {
  height: 2690px;
  background-image: linear-gradient(335deg, #000511, #2d2a2e); }

.case-container {
  margin: 0 auto;
  text-align: center; }

@media (max-width: 1179px) {
  .case-presentation {
    display: none; }
  .case-container {
    width: 260px; }
  .logo__case-slider {
    width: 100px;
    margin: 0 auto; } }

@media (min-width: 1180px) {
  .case-presentation {
    display: flex;
    justify-content: space-between; }
    .case-presentation button {
      width: 280px;
      padding: 10px 20px 11px;
      margin-top: 50px;
      background-color: #7b7b7b; }
  .case-container {
    width: 1020px; }
  .logo__case-slider {
    width: 200px;
    margin: 50px auto; } }

.case-description {
  width: 600px;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.layers-image__slider {
  opacity: 0.3;
  background-image: radial-gradient(50% 100%, #004EEA 50%, rgba(0, 78, 234, 0) 100%); }

.threeLayersIllustration:before,
.threeLayersIllustration:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.threeLayersIllustration:before {
  top: 90px;
  left: 110px;
  background-image: linear-gradient(315deg, #000000, #ffffff); }

.threeLayersIllustration:after {
  top: 550px;
  left: 1100px;
  border: solid 2px #979797; }

.switchers__case-slider {
  margin: 0 auto;
  width: 70px;
  display: flex;
  justify-content: space-between; }
  .switchers__case-slider .switch__case,
  .switchers__case-slider .owl-dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%; }
    .switchers__case-slider .switch__case_active, .switchers__case-slider .switch__case.active,
    .switchers__case-slider .owl-dot_active,
    .switchers__case-slider .owl-dot.active {
      background-color: #6699ff; }

.slide {
  margin: 0 auto;
  width: 840px;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.honors {
  margin-top: 70px;
  text-align: center; }

.text-honours {
  margin: 0 auto;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efac56; }

.banks-logos {
  margin: 82px auto 0px;
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between; }

.link-honors {
  margin-top: 66px; }
  .link-honors a {
    opacity: 0.5;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

.threeLayersIllustration {
  position: relative; }
  .threeLayersIllustration__overlay {
    width: 100%;
    background-image: url("/img/gradient.svg");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1280px;
    text-align: center;
    background-position: center;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; }

.projects {
  height: 1040px;
  opacity: 0.9;
  background-image: linear-gradient(309deg, #000000, #2d2a2e); }

.container-projects {
  width: 1280px;
  margin: 0 auto; }

.title-projects {
  padding-top: 80px;
  margin: 0 auto;
  width: 400px;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efac56; }
  .title-projects span {
    color: #ffffff; }

.logo-projects {
  margin: 100px auto 0px;
  width: 880px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.logo-project_item {
  width: 240px;
  height: 240px; }
  .logo-project_item:nth-child(3n) {
    padding-bottom: 50px; }
  .logo-project_item img {
    margin: 0 auto;
    display: flex; }

.logo-project_text {
  margin-top: 50px;
  opacity: 0.5;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.conclusion {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.links__button {
  width: 200px;
  margin: 0 auto;
  background-color: #7b7b7b;
  text-align: center;
  cursor: pointer;
  padding: 6px 6px 11px;
  margin-top: 60px;
  border-radius: 7px; }
  .links__button a {
    color: #ffffff; }

.owl-carousel--centeredImages .owl-item img {
  width: auto !important;
  margin: auto; }

.products_cases {
  height: 3250px;
  background-image: linear-gradient(339deg, #000511, #2d2a2e);
  position: relative; }

.eightLayersIllustration-container {
  height: 820px; }

.eightLayersIllustration img {
  position: absolute;
  top: 250px;
  left: -105px;
  overflow: hidden; }

.container-products_cases {
  width: 1280px;
  margin: 0 auto;
  text-align: center; }

.title-products {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 690px;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efac56; }
  .title-products p {
    padding-top: 50px;
    font-size: 32px;
    color: #ffffff; }

.description-products_cases {
  margin: 0 auto;
  width: 962px;
  font-size: 20px; }
  .description-products_cases .title__row {
    color: #efac56;
    padding-top: 80px; }

.threeColumnsBlock__row {
  display: flex;
  justify-content: space-between; }

.column_product {
  width: 290px; }

.column_title,
.column_subtitle {
  padding-top: 40px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff; }

.column_description {
  padding-top: 60px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7b7b7b; }
