@media (max-width: 1179px) {
  .form-information {
    display: flex;
    flex-direction: column;
    // margin: 0 auto; ДОДЕЛАТЬ
  }
}

@media (min-width: 1180px) {
  .form-information {
    display: flex;
    justify-content: space-between;
  }
}

button {
	cursor: pointer;
  background-color: #efac56;
  padding: 6px 56px 11px;
  margin-top: 120px;
  border: 0px;
  outline: none;
  border-radius: 7px;
}