.header {
  align-items: center;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;

  @media screen and (min-width: 1280px) {
    height: 98px;
  }
}

.header__logo {
  color: #EFAC56;
  height: 19px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;

  @media screen and (min-width: 1280px) {
    height: 38px;
    width: 97px;
  }
}

.header__button {
  margin-left: 20px;

  @media screen and (min-width: 1280px) {
    margin-left: 40px;
  }
}

