section.page__section.cases#cases
  .page__content.cases__content
    h1.cases__title.title.title--highlighted
      | Кейсы

    ul.cases__list
      li.cases__item
        | ВТБ Стахование

      li.cases__item
        | Банк Санкт-Петербург

      li.cases__item
        | Кредит Европа Банк

    h1.cases__theWaay(aria-label='TheWaay')
      svg.svg.cases__theWaayLogo
        use(xlink:href='#svgTheWaayLogo')

    h2.title.title--highlighted.cases__subtitle
      | 3 продукта

    .cases__articles
      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Помощник в анализе

            p.casesArticle__description
              | +10-20% к точности существующих внутренних моделей банка

            p.casesArticle__text
              | Размеченная клиентская база: психографический профиль, образ жизни, жизненный прио-ритеты, интересы, увлечения, любимые бренды и&nbsp;места

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | X-SELL помощник

            p.casesArticle__description
              | +10-15% к x-sell результативности

            p.casesArticle__text
              | Готовые высоконверсионые адаптированные коммуника-ции: смс, email, call-центр, цифровые каналы под каждый из&nbsp;глубоких профилей и&nbsp;под любой банковский продукт

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Lifestyle  помощник

            p.casesArticle__description
              | +12-18% к вовлечению в цифровые каналы

            p.casesArticle__text
              | Рекомендации для клиентов по&nbsp;финансам, банковским проду-ктам, куда сходить и&nbsp;что поло-житься под каждый из&nbsp;глубоких профилей

      h2.title.title--highlighted.cases__subtitle
        | Особенность

      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Набор данных

            p.casesArticle__text
              | Основа системы профили-рования&nbsp;&mdash; это карточная транзакционная активность клиента, которую мы&nbsp;полу-чаем от&nbsp;банка в&nbsp;обезли-ченном виде, а&nbsp;также его чеки, которые мы&nbsp;получаем от&nbsp;Партнера

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Глубина 
              br
              | профилирования

            p.casesArticle__text
              | Образ жизни, психографи-ческий профиль, жизненные приоритеты, а&nbsp;также десятки других шкал, которые позволят вам быстро взглянуть как на&nbsp;каждого клиента так и&nbsp;поделить клиентов на&nbsp;актуальные сегменты

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Легкость и скорость
              br
              | использования

            p.casesArticle__text
              | Вы&nbsp;можете начать использо-вать систему прямо сейчас. В&nbsp;системе доступен набор готовых стандартных отчетов, которые позволят вам решать&nbsp;80% задач без технической подготовки за&nbsp;минуты

      h2.title.title--highlighted.cases__subtitle
        | 3 формата работы

      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Быстрый

            p.casesArticle__text
              | Вы&nbsp;можете получить доступ к&nbsp;системе анализа и&nbsp;вручную загружать и&nbsp;выгружать данные. Вариант используется на&nbsp;пер-вых этапах сотрудничества

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | API

            p.casesArticle__text
              | Также мы&nbsp;можем настроить обмен данным через API. Данный формате позволяет обмениваться обезличенным данными в&nbsp;режиме реального времени и&nbsp;без ограничений по&nbsp;объем

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | В ИТ-периметре банка

            p.casesArticle__text
              | На&nbsp;этапах когда требуется real-time реакция системы, а&nbsp;также когда объемы данных перехо-дят за&nbsp;определнную планку мы&nbsp;размещаем ключевые модули системы внутри периметра банка

    h1.title.cases__title.cases__title--howTo
      | Мы дадим вам демо доступ за несколько часов

    p.cases__demoDescription
      | Оставьте заявку по ссылке ниже

    a.button.button--attention.button--big.cases__demo(href='#signUp')
      | Демо доступ
