footer.page__section.footer#footer(role='contentinfo')
  .page__content.footer__content
      svg.svg.footer__logo
        use(xlink:href='#svgTheWaayLogo')

      .footer__text
        | The27 Lab&nbsp;&&nbsp;School:
        br
        | Исследования, инсайты, обновления, кейсы в&nbsp;почте или телеграме

      .footer__socials
        ul.footerSocials
          //li.footerSocials__item
          //  a.footerSocials__link(href='#')
          //    svg.svg.footerSocial__logo.footerSocial__logo--telegram
          //      use(xlink:href='#svgIconTelegram')

          li.footerSocials__item
            a.footerSocials__link(href='https://www.facebook.com/the27lab', target='_blank')
              svg.svg.footerSocial__logo.footerSocial__logo--fb
                use(xlink:href='#svgIconFB')

          li.footerSocials__item
            a.footerSocials__link(href='https://medium.com/@i_15997', target='_blank')
              svg.svg.footerSocial__logo.footerSocial__logo--m
                use(xlink:href='#svgIconM')

      .footer__contacts
        ul.footerContacts
          li.footerContacts__item
            span.footerContacts__title
              | Дубна

            p.footerContacts__text
              | улица Мичурина, 29, офис:&nbsp;16

          li.footerContacts__item
            span.footerContacts__title
              | Москва

            p.footerContacts__text
              | Волгоградский проспект, 28А, офис&nbsp;513

      nav.footer__links
        ul.footerLinks
          li.footerLinks__item
            a.footerLinks__link(href='we.html')
              | Мы

          li.footerLinks__item
            a.footerLinks__link(href='index.html')
              | Продукт

          li.footerLinks__item
            a.footerLinks__link(href='#request')
              | Демо

          li.footerLinks__item
            a.footerLinks__link(href='business.html')
              | Бизнес

          li.footerLinks__item
            a.footerLinks__link(href='the27.html')
              | The 27 lab &
              br
              | school

        ul.footerLinks
          li.footerLinks__item
            a.footerLinks__link(href='https://www.facebook.com/the27lab', target='_blank')
              | Facebook

          li.footerLinks__item
            a.footerLinks__link(href='https://medium.com/@i_15997', target='_blank')
              | Medium

      .footer__subscribe
        include _subscribe

      .footer__button
        a.button.button--attention.button--big(href='#request')
          | Демо доступ
