form.subscribe
  input.subscribe__input(type='email', placeholder='Подписка на новости')

  a.subscribe__button(href='https://rzltt.us4.list-manage.com/subscribe?u=e38604a4618f34c22ee2b3a3d&id=1c41152c40', target='_blank')
    svg.svg.subscribe__icon
      use(xlink:href='#svgDoubleArrowRight')
