.radio {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.radio__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio__checkmark {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #979797;
  border-radius: 50%;
  height: 16px;
  position: relative;
  width: 16px;

  @media screen and (min-width: $tablet) {
    height: 32px;
    width: 32px;
  }

  &:before {
    background-color: #EFAC56;
    border-radius: 50%;
    content: '';
    height: 8px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.5s ease;
    transform: translate(-50%, -50% );
    width: 8px;

    @media screen and (min-width: $tablet) {
      height: 20px;
      width: 20px;
    }
  }
}

.radio__input:checked + .radio__checkmark:before {
  opacity: 1;
}

.radio:hover .radio__input:not(:checked) + .radio__checkmark {
  &:before {
    opacity: 0.2;
  }
}

.radio__title {
  color: #7B7B7B;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  user-select: none;
  margin-left: 8px;

  @media screen and (min-width: $tablet) {
    margin-left: 16px;
  }
}
