.lookAndRead {
  background-color: #fff;

  min-height: 1600px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    min-height: 1260px;
  }
}

.lookAndRead__content {
  padding-bottom: 55px;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 132px;
    padding-top: 80px;
  }
}

.lookAndRead__title {
  color: #000;
}
