.section2 {
  background-color: #111;
  background-image: linear-gradient(135deg, #2d2a2e, #000);

  min-height: 480px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    min-height: 720px;
  }
}

.section2__content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
}

.section2__sliderDotts {
  left: 0;
  position: absolute;
  top: 0;
}

.section2__logo {
  color: #EFAC56;
  height: 72px;
  width: 185px;

  @media screen and (min-width: $tablet) {
    height: 217px;
    width: 295px;
  }
}
