.navigation__item {
  text-align: center;
}

.navigation__link {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;

  &:hover {
    color: #EFAC56;
  }

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 64px;
  }
}
