.cases {
  background-color: #000511;
  background-image: linear-gradient(160deg, #2d2a2e, #000511);
  position: relative;

  &:before {
    background-image: url('/img/cases.png');
    background-position: 50% 135px;
    background-repeat: no-repeat;
    background-size: 774px;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;

    @media (min-device-pixel-ratio: 2) {
      background-image: url('/img/cases_x2.png');
    }

    @media screen and (min-width: $tablet) {
      background-position: 55% 270px;
      background-size: 1547px;
    }
  }
}

.cases__content {
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    padding-bottom: 10em;
    padding-top: 80px;
  }
}

.cases__title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    max-width: 620px;
  }
}

.cases__list {
  display: block;
  text-align: center;
  margin: 0 auto 440px;
  max-width: 690px;

  @media screen and (min-width: $tablet) {
    margin: 0 auto 956px;
  }
}

.cases__item {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;

  &:after {
    content: ',\00a0 ';
  }

  &:last-child:after {
    content: '';
  }

  @media screen and (min-width: $tablet) {
    font-size: 32px;
    line-height: 38px;
  }
}

.cases__theWaay {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.cases__theWaayLogo {
  color: #fff;
  height: 36px;
  width: 91px;

  @media screen and (min-width: $tablet) {
    height: 72px;
    width: 182px;
  }
}

.cases__subtitle {
  margin-bottom: 20px;
  text-align: left;

  @media screen and (min-width: $tablet) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.cases__articles {
  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;
  }
}

.cases__articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
}

.cases__articleItem {
  flex-basis: 100%;
  margin-bottom: 60px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    flex-basis: 30%;
    margin-bottom: 0;
    width: 30%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: 290px;
    width: 290px;
  }
}

.cases__demoDescription {
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  margin: 0 auto 20px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto 40px;
    max-width: 60%;
  }
}

.cases__demo {
  margin: 0 auto;
}
