section.page__section.cases.cases--eng#cases
  .page__content.cases__content
    h1.cases__title.title.title--highlighted
      | Cases

    ul.cases__list
      li.cases__item
        | VTB Insurance

      li.cases__item
        | Bank Saint Petersburg

      li.cases__item
        | Credit Europe Bank

    h1.cases__theWaay(aria-label='TheWaay')
      svg.svg.cases__theWaayLogo
        use(xlink:href='#svgTheWaayLogo')

    h2.title.title--highlighted.cases__subtitle
      | 3 products

    .cases__articles
      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Analysis Assistant

            p.casesArticle__description
              | + 10-20% to the accuracy of the existing internal models of the bank

            p.casesArticle__text
              | Labelled customer database: psychographic profile, lifestyle, life priorities, interests, hobbies, favorite brands and&nbsp;places

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | X-SELL Assistant

            p.casesArticle__description
              | + 10-15% to x-sell performance

            p.casesArticle__text
              | Ready highly-adapted communications: sms, email, call center, digital channels for each of the deep profiles and designed for any banking product

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Lifestyle Assistant

            p.casesArticle__description
              | + 12-18% to the engagement in digital channels

            p.casesArticle__text
              | Advice for customers on finance, banking products, where to hang out and go shopping prepared for each of the deep profiles

      h2.title.title--highlighted.cases__subtitle
        | What makes us special

      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Data collection

            p.casesArticle__text
              | The basis of the profiling system is the card transactional activity of the client, which we receive from the bank in an anonymized form, as well as their checks, which we receive from the Partner

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Profiling depth

            p.casesArticle__text
              | Lifestyle, psychographic profile, life priorities, as well as dozens of other scales that will allow you to briefly analyze each client as well as divide clients into relevant groups

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Ease and the speed
              br
              | of use

            p.casesArticle__text
              | You can start using the system right now. A set of ready standard reports is available in the system, which will allow you to solve 80% of tasks without technical training in no time

      h2.title.title--highlighted.cases__subtitle
        | 3 BUSINESS FORMATS

      ul.cases__articleList
        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | Fast

            p.casesArticle__text
              | You can access the analysis system and manually download and upload data. The option is used at the first stages of cooperation.

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | API

            p.casesArticle__text
              | We can also configure the exchange of data through the API. This format allows you to exchange anonymous data online and without size limits

        li.cases__articleItem
          article.casesArticle
            h3.casesArticle__title
              | In the IT perimeter of the bank

            p.casesArticle__text
              | At the stages when the real-time response of the system is required, as well as when the data volumes exceed a certain level, we place the key system modules within the bank's perimeter

    //h1.title.cases__title.cases__title--howTo
      | Мы дадим вам демо доступ за несколько часов

    p.cases__demoDescription
      | Fill in the form below. After that we will show you a demo, discuss cases as well as next steps.

    a.button.button--attention.button--big.cases__demo(href='#signUp')
      | Try Demo
