footer.page__section.footer#footer(role='contentinfo')
  .page__content.footer__content
      svg.svg.footer__logo
        use(xlink:href='#svgTheWaayLogo')

      .footer__text
        | Subscribe to our monthly digest:
        br
        | research, case studies, insights, fun facts

      .footer__socials
        ul.footerSocials
          //li.footerSocials__item
          //  a.footerSocials__link(href='#')
          //    svg.svg.footerSocial__logo.footerSocial__logo--telegram
          //      use(xlink:href='#svgIconTelegram')

          li.footerSocials__item
            a.footerSocials__link(href='https://www.facebook.com/the27lab', target='_blank')
              svg.svg.footerSocial__logo.footerSocial__logo--fb
                use(xlink:href='#svgIconFB')

          li.footerSocials__item
            a.footerSocials__link(href='https://medium.com/@i_15997', target='_blank')
              svg.svg.footerSocial__logo.footerSocial__logo--m
                use(xlink:href='#svgIconM')

      .footer__contacts
        ul.footerContacts
          li.footerContacts__item
            span.footerContacts__title
              | Contact us

            p.footerContacts__text
              | 1 St Katharine's Way
              br
              | St Katharine's & Wapping, London
              br
              | E1W 1YL UK , Wework

          li.footerContacts__item
            span.footerContacts__title
              //| Москва

            p.footerContacts__text
              //| Волгоградский проспект, 28А, офис&nbsp;513

      nav.footer__links
        ul.footerLinks
          li.footerLinks__item
            //a.footerLinks__link(href='eng.html')
              | Продукт

          li.footerLinks__item
            //a.footerLinks__link(href='#signUp')
              | Демо


        ul.footerLinks
          li.footerLinks__item
            //a.footerLinks__link(href='https://www.facebook.com/the27lab', target='_blank')
              | Facebook

          li.footerLinks__item
            //a.footerLinks__link(href='https://medium.com/@i_15997', target='_blank')
              | Medium

      .footer__subscribe
        include _subscribe

      .footer__button
        a.button.button--attention.button--big(href='#signUp')
          | Demo
