section.page__section.signUp#signUp
  .signUp__circle1

  .signUp__circle2

  form.page__content.signUp__content
    .signUp__text
      | Fill in the form and we will send you detailed information, tell you about the features of the methodology and help you to prepare an estimate of the business case.

    .signUp__fields
      .form__field
        input.form__input.textInput(autocomplete='off', type='text', placeholder='Name', name='yourname', required)
        .form__error
          span(style='display: none;') Enter your name

      .form__field
        input.form__input.textInput(autocomplete='off', type='text', placeholder='Company', name='company', required)
        .form__error
          span(style='display: none;') Enter company name

      .form__field
        input.form__input.textInput.textInput--tel(autocomplete='off', type='text', placeholder='Phone', name='phone', required)
        .form__error
          span(style='display: none;') Enter your phone

      .form__field
        input.form__input.textInput(autocomplete='off', type='email', placeholder='E-mail', name='email', required)
        .form__error
          span(style='display: none;') Wrong e-mail

    button.button.button--attention.button--big.signUp__submit
      | Request Demo

      .signUp__version
        include ../common/_version

    .signUp__success
      | Спасибо! мы напишем вам :)
