section.page__section.weHelp#weHelp
  .page__content.weHelp__content.weHelp__content--1
    .weHelp__try
      h1.title.weHelp__title1
        | WHAT WE DO

      .weHelp__tryText
        | We help banks to increase their x-sell volumes by 10-15% per year via SMS channels, email, call center, digital channels by personalizing communications based on the deep customer behavioral profiling. Yes, indeed. The system can really text personalized SMS, send email and prepare other communications for you. The cloud of personal messages is based on the deep behavioral profiling of clients. This profile consists of a psychographic profile, behavioral profile, lifestyle, life priorities and a dozen additional behavioral scales.

      a.button.button--big.weHelp__tryButton(href='#signUp')
        | Try Demo
        br
        | и посчитать бизнес-кейс

    h1.title.weHelp__title2
      | 3 AREAS of Expertise

    .weHelp__circles

    .weHelp__sliderGradient

  .page__content.page__content--noSidePaddingsForMobile.weHelp__content--2
    .weHelp__content
      h1.title.weHelp__title3
        | FUNCTIONALITY

      .weHelp__slider.swiper-container.weHelpSlider
        .swiper-wrapper.weHelpSlider__wrapper
          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--1

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | The system works out a deep client profile which consists of a dozen behavioral graphs, which help to understand in which lifestyle they are interested, which banking products are relevant as well as how to communicate with them.

          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--2

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | The system dynamically builds up a so-called “Ecosystem of Opportunities” by collecting data on events from dozens of external sources with regards to events, new restaurants, movies, new mobile apps, books, shopping opportunities...

          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--3

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | Then the system immediately personalizes this set of opportunities as tips for each client: where to hang out, where to go shopping, what's new in the movies, etc.

      .weHelpSlider__button.weHelpSlider__button--prev
        svg.svg.weHelpSlider__icon
          use(xlink:href='#svgSliderArrowPrev')

      .weHelpSlider__button.weHelpSlider__button--next
        svg.svg.weHelpSlider__icon
          use(xlink:href='#svgSliderArrowNext')
