.footerSocials {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 70px;
  @media screen and (min-width: $tablet) {
    width: 100px;
  }
}

.footerSocial__logo--telegram {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}

.footerSocial__logo--fb {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}

.footerSocial__logo--m {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}