.weHelp {
  background-color: #000511;
  background-image: linear-gradient(160deg, #2d2a2e, #000511);
  overflow: hidden;
  position: relative;
}

.weHelp__content--1 {
  padding-top: 100px;

  @media screen and (min-width: $tablet) {
    padding-top: 140px;
  }
}

.weHelp__content--2 {
  padding-bottom: 100px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }
}

.weHelp__try {
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 120px;
    width: 600px;
  }
}

.weHelp__tryText {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 25px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 50px;
  }
}

.weHelp__tryButton {
  height: 60px;
  text-align: center;
  margin: 0 auto;
}

.weHelp__circles {
  background-image: url('/img/we_help_circles.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 249px;
  position: relative;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: $tablet) {
    height: 603px;
    margin: 0 auto 160px;
    max-width: 680px;
  }
}

.weHelp__sliderGradient {
  position: relative;
  &:before {
    background-image: radial-gradient(closest-side, rgba(0, 78, 234, 0.5), rgba(0, 78, 234, 0) 100%);
    content: '';
    height: 400px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -5%);
    width: 640px;

    @media screen and (min-width: $desktop) {
      height: 800px;
      width: $desktop;
    }
  }
}

.weHelp__slider {

}
