section.page__section.home
  .home__circle1

  .home__circle2
  .page__content.home__content
    .home__form.form
      input.form__field.textInput(type='text', placeholder='Имя')

      input.form__field.textInput(type='text', placeholder='Организация')

      input.form__field.textInput(type='text', placeholder='Телефон')

      input.form__field.textInput(type='text', placeholder='Эл.почта')

    .home__hint.hint
      .hint__text
        | Заполните форму и&nbsp;мы&nbsp;отправим вам подробную информацию, расскажем про особенности методологии и&nbsp;поможем прикинуть бизнес-кейс

      svg.svg.hint__line
        use(xlink:href='#svgSpeakerLine')

      .hint__speaker

    a.button.button--attention.button--big.home__demo(href='#')
      | Демо доступ

    .home__version
      .version
        | The Waay. Demo version v1
