section.page__section.home
  .home__circle1

  .home__circle2
  form.page__content.home__content
    .home__fields
      .form__field
        //если ошибки нет, .form__error пустой, иначе отступ пропадет
        input.form__textInput.textInput(type='text', placeholder='Имя и Фамилия')
        .form__error
          | Введите имя и фамилию

      .form__field
        input.form__textInput.textInput(type='text', placeholder='Компания')
        .form__error
          | Введите компанию

      .form__field
        input.form__textInput.textInput(type='text', placeholder='Телефон')
        .form__error
          | Введите телефон

      .form__field
        input.form__textInput.textInput.textInput--error(type='text', placeholder='Электронная почта')
        .form__error
          | Неправильный e-mail

    .home__footer
      .home__hint.hint
        .hint__text
          | Заполните форму и&nbsp;мы&nbsp;отправим вам подробную информацию, расскажем про особенности методологии и&nbsp;поможем прикинуть бизнес-кейс

        svg.svg.hint__line
          use(xlink:href='#svgSpeakerLine')

        .hint__speaker

      button.button.button--attention.button--big.home__submit
        | Получить демо доступ

      .home__version
        include _version
