section.page__section.lookAndRead#lookAndRead
  .page__content.lookAndRead__content
    h1.title.lookAndRead__title
      | Посмотреть и почитать

    h2.lookAndRead__subtitle
      | Посмотреть

    ul.lookAndRead__teasers
      li.lookAndRead__teaser
        a.lookAndReadTeaser.video(href="https://www.youtube.com/watch?v=prw0tfNVor8", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--watch1
            svg.svg.lookAndReadTeaser__playIcon
                use(xlink:href='#svgPlay')

          .lookAndReadTeaser__text
            | 5 минут про Thewaay c прошедшего FinWin

      li.lookAndRead__teaser
        a.lookAndReadTeaser.video(href="https://www.youtube.com/watch?v=wxbXpCu0wj4&index=18&list=PLDZ7tu5Ui8f3FFip2FGY2DpGzVhER1jKS", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--watch2
            svg.svg.lookAndReadTeaser__playIcon
              use(xlink:href='#svgPlay')

          .lookAndReadTeaser__text
            | Тот случай, когда Банкир рассказывает о нас лучше чем мы сами

      li.lookAndRead__teaser
        a.lookAndReadTeaser.video(href="https://youtu.be/KOAQcaQpjZ8", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--watch3
            svg.svg.lookAndReadTeaser__playIcon
              use(xlink:href='#svgPlay')

          .lookAndReadTeaser__text
            | Утро с Банкиром. PsyTech для банков

      li.lookAndRead__teaser
        a.lookAndReadTeaser.video(href="https://rb.ru/story/ftr-gavrilov/?utm_campaign=152301449648&utm_source=mailganer&utm_medium=email", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--watch4
            svg.svg.lookAndReadTeaser__playIcon
              use(xlink:href='#svgPlay')

          .lookAndReadTeaser__text
            | Про наш любимый проект Айка для Банка Санкт-Петербург

    h2.lookAndRead__subtitle
      | Почитать

    ul.lookAndRead__teasers
      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="http://finopolis.ru/news/?news=3533", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read1

          .lookAndReadTeaser__text
            | Thewaay занял первое местов среди Финтех стартапов на Финнополис

      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="https://rb.ru/opinion/banki-klienty/", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read2

          .lookAndReadTeaser__text
            | Банкам нужно срочно менять модель работы с клиентами. И вот почему

      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="https://zen.yandex.ru/media/id/5a23d0cb4bf161e02c7a4a87/thewaay--servis-dlia-personalnyh-rekomendacii-klientam-bankov-i-strahovyh-kompanii-5a71f7888c8be32c93331964", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read3

          .lookAndReadTeaser__text
            | Короткое интервью для Финтех лаб про работу с банками и страховыми

      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="https://goo.gl/Vukyoc", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read4

          .lookAndReadTeaser__text
            | Мужчины эмоциональны, женщины рациональны

      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="https://goo.gl/urQ4KR", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read5

          .lookAndReadTeaser__text
            | Сложности LifeStyle Банкинга и системного подхода к Dynamic Journey Mapping

      li.lookAndRead__teaser
        a.lookAndReadTeaser(href="https://goo.gl/kmfZhc", target='_blank')
          .lookAndReadTeaser__image.lookAndReadTeaser__image--read6

          .lookAndReadTeaser__text
            | О том как Алгоритмы предугадывают поведение
