section.menu.page__menu
  .menu__navigation
    nav.navigation
      ul.navigation__list
        li.navigation__item
          a.navigation__link(href='#')
            | The Waay

        li.navigation__item
          a.navigation__link(href='#')
            | Проекты

        li.navigation__item
          a.navigation__link(href='#')
            | Кейсы

        li.navigation__item
          a.navigation__link(href='#')
            | Особенности

        li.navigation__item
          a.navigation__link(href='#')
            | Ссылки
