section.page__section.request
  .request__circle1

  .request__circle2
  form.page__content.request__content
    .request__fields
      .form__field
        //если ошибки нет, .form__error пустой, иначе отступ пропадет
        input.form__textInput.textInput(type='text', placeholder='Имя и Фамилия', required)
        .form__error
          span(style='display: none;') Введите имя и фамилию

      .form__field
        input.form__textInput.textInput(type='text', placeholder='Компания', required)
        .form__error
          span(style='display: none;') Введите компанию

      .form__field
        input.form__textInput.textInput(type='text', placeholder='Телефон', required)
        .form__error
          span(style='display: none;') Введите телефон

      .form__field
        input.form__textInput.textInput(type='text', placeholder='Электронная почта', required)
        .form__error
          span(style='display: none;') Неправильный e-mail

    .request__footer
      .request__hint.hint
        .hint__text
          | Заполните форму и&nbsp;мы&nbsp;отправим вам подробную информацию, расскажем про особенности методологии и&nbsp;поможем прикинуть бизнес-кейс

        svg.svg.hint__line
          use(xlink:href='#svgSpeakerLine')

        .hint__speaker

      button.button.button--attention.button--big.request__submit
        | Получить демо доступ

      .request__version
        include _version
