section.page__section.section3
  .page__content.section3__content
    .section3__text
      | Система персонализации отношений Банка с&nbsp;клиентами, которую вы&nbsp;можете начать использовать прямо сейчас

    a.section3__play(href='#')
      svg.svg.section3__playIcon
        use(xlink:href='#svgPlay')

    .section3__footer
      a.button.button--attention.button--big.section3__demo(href='#')
        | Демо доступ

      .section3__or
        | или

      a.section3__more(href='#')
        | Подробное описание

      .section3__version
        .version
          | The Waay. Demo version v1

      .section3__subscribe
