section.page__section.section4
  .page__content.section4__content
    .section4__try
      .section4__tryText
        | Мы&nbsp;помогаем банкам увеличивать объемы x-sell на&nbsp;10-15% в&nbsp;год через каналы смс, email, call-центр, цифровые каналы за&nbsp;счет персонализации коммуникаций на&nbsp;основе глубокого поведенческого профилирования клиентов. Да-да. Система действительно пишет за&nbsp;вас персонализированные смс, email и&nbsp;прочие коммуникации. Облако персональных сообщений формируется на&nbsp;основании глубокого поведенческого профилирования клиентов. Данный профиль состоит из&nbsp;психографического профиля, поведенческого профиля, образа жизни, жизненных приоритетов и&nbsp;десятка дополнительны поведенческих шкал

      a.button.button--big.section4__tryButton(href='#')
        | Попробовать Демо
        br
        | и посчитать бизнес-кейс

    .section4__circles

    .my-slider
      div
        .section4__clients
      div
      div

