section.page__section.section3
  .page__content
    .section3__content
      p.section3__text
        | У&nbsp;нашей системы персонализации отношений Банка с&nbsp;клиентами 3&nbsp;особенности: она дает самое глубокое понимание клиента на&nbsp;рынке, она умеет автоматически формировать персональные коммуникации на&nbsp;основании этого самого глубоко профиля и&nbsp;в&nbsp;третьих она умеет работать в&nbsp;облаке и&nbsp;попробовать ее&nbsp;вы&nbsp;можете прямо сейчас.

      a.section3__play(href='#')
        svg.svg.section3__playIcon
          use(xlink:href='#svgPlay')

      .section3__footer
        a.button.button--attention.button--big.section3__demo(href='#')
          | Демо доступ

        .section3__or
          | или

        a.section3__more(href='#')
          | Подробное описание

        .section3__version
          include _version

        .section3__subscribe
          include _subscribe
