section.page__section.topBanks#topBanks
  .page__content.topBanks__content
    h1.topBanks__title.title
      span.title__highlighted
        | Проекты
      | &nbsp;с Топ
      br
      | банками в России

    ul.topBanks__list
      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--raiffeisenBank
          use(xlink:href='#svgRaiffeisenBank')

          .topBanks__name
            | РайффайзенБанк

      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--creditEuroeBank
          use(xlink:href='#svgCreditEuroeBank')

          .topBanks__name
            | Credit Europe Bank

      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--bankStPetersburg
          use(xlink:href='#svgBankStPetersburg')

          .topBanks__name
            | Банк
            br
            | Санкт-Петербург

      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--vtb
          use(xlink:href='#svgVtb')

          .topBanks__name
            | ВТБ
            br
            | Страхование

      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--bankOtkritie
          use(xlink:href='#svgBankOtkritie')

          .topBanks__name
            | Банк Открытие

      li.topBanks__item
        svg.svg.topBanks__logo.topBanks__logo--sberbank
          use(xlink:href='#svgSberbank')

        .topBanks__name
          | Сбербанк

    .topBanks__achievements
      ul.topBanksAchievements
        li.topBanksAchievements__item
          | 120 000 000 транзакция проанализировано

        li.topBanksAchievements__item
          | 10 000 000 клиентов спрофилировано

        li.topBanksAchievements__item
          | 1.5М персональных коммуникаций отправлено

        li.topBanksAchievements__item
          | 1М Lifestyle советов дано

    a.topBanks__more.button.button--big(href='#cases')
      | Подробнее о кейсах
