section.page__section.weHelp
  .page__content.weHelp__content.weHelp__content--1
    .weHelp__try
      .weHelp__tryText
        | Мы&nbsp;помогаем банкам увеличивать объемы x-sell на&nbsp;10-15% в&nbsp;год через каналы смс, email, call-центр, цифровые каналы за&nbsp;счет персонализации коммуникаций на&nbsp;основе глубокого поведенческого профилирования клиентов. Да-да. Система действительно пишет за&nbsp;вас персонализированные смс, email и&nbsp;прочие коммуникации. Облако персональных сообщений формируется на&nbsp;основании глубокого поведенческого профилирования клиентов. Данный профиль состоит из&nbsp;психографического профиля, поведенческого профиля, образа жизни, жизненных приоритетов и&nbsp;десятка дополнительны поведенческих шкал

      a.button.button--big.weHelp__tryButton(href='#request')
        | Попробовать Демо
        br
        | и посчитать бизнес-кейс

    .weHelp__circles

    .weHelp__sliderGradient

  .page__content.page__content--noSidePaddingsForMobile.weHelp__content--2
    .weHelp__content
      .weHelp__slider.swiper-container.weHelpSlider
        .swiper-wrapper.weHelpSlider__wrapper
          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--1

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | Система формирует глубокий профиль клиента который состоит из&nbsp;десятка поведенческих шкал, которые отражают его склонность к&nbsp;потреблению различных банковских продуктов, а&nbsp;также  того, как именно с&nbsp;ним нужно общаться.

          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--2

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | Далее система предлагает создать Кампанию. Для этого вам нужно будет загрузить клиентские данные, указать целевой продукт к&nbsp;продаже: например Кредит Наличными, Ипотека. После анализ данных система предложит вам рекомендованный сэт персональных коммуникаций по&nbsp;каждому из&nbsp;клиентских ID.

          .swiper-slide
            .weHelpSlider__slide
              .weHelpSlider__image.weHelpSlider__image--3

              svg.svg.weHelpSlider__logo
                use(xlink:href='#svgTheWaayLogo')

              .weHelpSlider__text
                | Кроме этого система позволяет запустить Lifestyle помощника на основе существующей экосистему Lifestyle лояльности банка или дает возможность запустить свою программу лояльности на&nbsp;основе анализа образа жизни целевых сегментов.

      .weHelpSlider__button.weHelpSlider__button--prev
        svg.svg.weHelpSlider__icon
          use(xlink:href='#svgSliderArrowPrev')

      .weHelpSlider__button.weHelpSlider__button--next
        svg.svg.weHelpSlider__icon
          use(xlink:href='#svgSliderArrowNext')
