doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title TheWaay

  body
    include _svg
    .page
      .page__version
        include _version

      include _header

      include _menu

      include _welcome

      include _about

      include _we_help

      include _top_banks

      include _cases

      include _look_and_read

      include _request

      include _footer
