doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title TheWaay
    link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")

    include common/_metrics

  body
    include common/_svg

    .page
      include common/_popup

      include common/_version

      include common/_header

      include common/_welcome


      include common/_menu

      include index/_about

      include index/_we_help

      include index/_top_banks

      include index/_cases

      include index/_look_and_read

      include index/_sign_up

      include index/_footer
