doctype html
html
  head
    include common/_head

  body
    include common/_svg

    .page
      include common/_popup

      include common/_version

      include common/_header

      include common/_welcome


      include common/_menu

      include index/_about

      include index/_we_help

      include index/_top_banks

      include index/_cases

      include index/_look_and_read

      include index/_sign_up

      include index/_footer
