doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title TheWaay

  body
    include _svg
    .page
      include _header

      include _menu

      include _home

      include _section2

      include _section3

      include _section4

      include _top_banks

      include _cases

      include _links

      include _footer
