doctype html
html
  head
    include common/_head

  body
    include common/_svg

    .page
      include common/_popup

      include common/_version

      include common_eng/_header

      include common/_welcome


      include common_eng/_menu

      include index_eng/_about

      include index_eng/_we_help

      include index_eng/_top_banks

      include index_eng/_cases

      //include index_eng/_look_and_read

      include index_eng/_sign_up

      include index_eng/_footer
