doctype html
html
  head
    include common/_head

  body
    include common/_svg

    .page
      include common/_version

      include common/_header

      include common/_menu

      include sign_in/_sign_in
