doctype html
html
  head
    include common/_head

  body
    include common/_svg

    .page
      include common/_version

      include common_eng/_header

      include common_eng/_menu

      include sign_in_eng/_sign_in
