.demo-slider 
  .container.demo-container
    .main-nav
      .logo-group
        .logo__image
          img(src="img/l.png" width="82" height="32" alt="logo")
        .language rus
      .menu
        .enter.enter-demo 
          a(href="#") Демо
        .enter.enter-access
          a(href="#") Войти
        .burger-menu
          .burger-menu__image
            .burger-description Весь сайт и контакты
    .demo-presentation
      .switchers
      .system Система персонали-зации отношений Банка с клиентами, которую вы можете начать использовать прямо сейчас
      button.contacts__button(type='submit') Демо доступ
      .video-lauhch
        img(src="img/mobile.png" width="439" height="708" alt="mobile")
      .site-information The Waay. Demo version v1
    .demo-description
      .news
        a(href="#") Подписка на новости
      .demo-links
        button.contacts__button(type='submit') Демо доступ
        p или
        a(href="#") Подробное описание
      .manager
        img(src="img/i.jpg" width="40" height="40" alt="man")
