title The Waay
link(href="fonts/stylesheet.css" rel="stylesheet")
link(rel='stylesheet' href='css/style.css')
meta(name="viewport" content="width=device-width")

script(src='https://unpkg.com/jquery@3.3.1/dist/jquery.min.js', defer='defer')

script(src='https://unpkg.com/owl-carousel-2@0.0.3/owl.carousel.min.js', defer='defer')  
link(rel='stylesheet', href='https://unpkg.com/owl-carousel-2@0.0.3/assets/owl.carousel.min.css')
link(rel='stylesheet', href='https://unpkg.com/owl-carousel-2@0.0.3/assets/owl.theme.default.min.css')

script(src='/javascript/index.js', defer='defer')
