.products_cases
  .container-products_cases
    .title-projects Кейсы 
      span ВТБ Стахование, Банк Санкт-Петербург, Кредит Европа Банк

//- width: 1280px;
//-   height: 3250px;
//-   background-image: linear-gradient(339deg, #000511, #2d2a2e);
