.products_cases
  .container-products_cases
    .title-products Кейсы 
      p ВТБ Стахование, Банк Санкт-Петербург, Кредит Европа Банк
  .eightLayersIllustration-container
  .eightLayersIllustration 
    img(src="img/8-l.png" width="1548" height="1023" alt="displays")
  .logo__case-slider
    img(src="img/logo-white.svg" width="200" height="auto" alt="logo")
  .description-products_cases
    .products__description-products_cases
      .title__row 3 продукта
      .threeColumnsBlock__row
        .column_product
          .column_title Помощник в анализе
          .column_subtitle +10-20% к точности существующих  внутренних моделей банка
          .column_description Размеченная клиентская база: психографический профиль, образ жизни, жизненный прио-ритеты, интересы, увлечения, любимые бренды и места
        .column_product
          .column_title X-SELL помощник
          .column_subtitle +10-15% к x-sell результативности
          .column_description Готовые  высоконверсионые адаптированные коммуника-ции: смс, email, call-центр, цифровые каналы под каждый из глубоких профилей и под любой банковский продукт
        .column_product
          .column_title Lifestyle  помощник
          .column_subtitle +12-18% к вовлечению в цифровые каналы
          .column_description Рекомендации для клиентов по финансам, банковским продуктам, куда сходить и на что положиться под каждый из глубоких профилей
      .title__row Особенность
      .threeColumnsBlock__row
        .column_product
          .column_title Набор данных 
          .column_description Основа системы профили-рования - это карточная транзакционная активность клиента, которую мы полу-чаем от банка в обезли-ченном виде, а также его чеки, которые мы получаем от Партнера 
        .column_product
          .column_title Глубина  профилирования
          .column_description Образ жизни, психографи-ческий профиль, жизненные приоритеты, а также десятки других шкал, которые позволят вам быстро взглянуть как на каждого клиента так и поделить клиентов на актуальные сегменты
        .column_product
          .column_title Легкость и скорость использования
          .column_description Вы можете начать использо-вать систему прямо сейчас. В системе доступен набор готовых стандартных отчетов, которые позволят вам решать 80% задач без технической подготовки за минуты
      .title__row 3 формата работы
      .threeColumnsBlock__row
        .column_product
          .column_title Быстрый
          .column_description Вы можете получить доступ к системе анализа и вручную загружать и выгружать данные. Вариант используется на пер-вых этапах сотрудничества
        .column_product
          .column_title API
          .column_description Также мы можем настроить обмен данным через API. Данный формате позволяет обмениваться обезличенным данными в режиме реального времени и без ограничений по объем
        .column_product
          .column_title В ИТ-периметре банка
          .column_description На этапах когда требуется real-time реакция системы, а также когда объемы данных перехо-дят за определнную планку мы размещаем ключевые модули системы внутри периметра банка
    .signUp
      .signUp-title Как получить первые результаты через несколько дней
      .signUp-subtitle Оставьте заявку по ссылке ниже
      .signUp-time 5 секунд
      .swithers
      .signUp-button
        a(href="#") Дальше 
