.projects
  .container-projects
    .title-projects Проекты 
      span с Топ банками в России
    .logo-projects
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
      .logo-project_item
        img(src="img/sber-bank.png" width="64.1" height="60" alt="sber-bank")
        .logo-project_text Сбербанк
    .conclusion 10 000 000 клиентов проанализировано
    .links__button
      a(href="#") Подробнее о кейсах
