.case-slider
  .case-container
    .main-nav
      .logo-group
        .logo__image
          img(src="img/l.png" width="82" height="32" alt="logo")
        .language rus
      .menu
        .enter.enter-demo 
          a(href="#") Демо
        .enter.enter-access
          a(href="#") Войти
        .burger-menu
          .burger-menu__image
    .case-presentation 
      .switchers__case
        .switch__case
        .switch__case
        .switch__case
        .switch__case.switch__case_active
      .case-description
        p Мы помогаем банкам увеличивать объемы x-sell на 10-15% в год через каналы смс, email, call-центр, цифровые каналы за счет персонализации коммуникаций на основе глубокого поведенческого профилирования клиентов. Да-да. Система действительно пишет за вас персонализированные смс, email и прочие коммуникации. Облако персональных сообщений формируется на основании глубокого поведенческого профилирования клиентов. Данный профиль состоит из психографического профиля, поведенческого профиля, образа жизни, жизненных приоритетов и десятка дополнительных поведенческих шкал
        button.contacts__button(type='submit') Попробовать Демо и посчитать бизнес-кейс
      .site-information The Waay. Demo version v1
    .circles-image
      img(src="img/1.png" width="678" height="auto" alt="circles")

  .threeLayersIllustration
    .threeLayersIllustration__overlay.owl-carousel.owl-carousel--centeredImages
      .owl-carousel__slide
        img(src="img/3-layers.png" width="780" height="531" alt="layers")
      .owl-carousel__slide
        img(src="img/3-layers.png" width="780" height="531" alt="layers")
      .owl-carousel__slide
        img(src="img/3-layers.png" width="780" height="531" alt="layers")
  .switchers__case-slider.owl-carousel--centeredImages__dots
    //- .switch__case.switch__case_active
    //- .switch__case
    //- .switch__case
  .logo__case-slider
    img(src="img/logo-white.svg" width="200" height="auto" alt="logo")
  .slides__case-slider
    .slide Мы помогаем банкам быть понятными, полезными и интересными для своих клиентов для того, чтобы продавать больше продуктов на одного клиента, увеличивая
    .slide
    .slide
  .honors 
    .text-honours Life Time Value
    .banks-logos
      img(src="img/vei-logo.png" width="66" height="30" alt="logo-vei")
      img(src="img/finnopolis-logo.png" width="116" height="28" alt="finnopolis-vei")
      img(src="img/bbva-logo.png" width="80" height="80" alt="logo-bbva")
    .link-honors
      a(href="#") Награды

