nav.navigation
  .container
    .main-nav
      .logo-group
        .logo__image
          img(src="img/l.png" width="82" height="32" alt="logo")
        .language rus
      .menu
        .enter 
          a(href="#") Войти
        .burger-menu
          .burger-menu__image
    .form-information
      .manager-information Заполните форму и мы отправим вам подробную информацию, расскажем про особенности методологии и поможем прикинуть бизнес-кейс
        img(src="img/i.jpg" width="40" height="40" alt="man")
        .line-image
          img(src="img/line.svg" width="16" height="16" alt="line")
      form(method='POST' action='#')
        div.form-group
          label(for='name')
          input#name.form-control(type='text', placeholder='Владимир' name='name')
        div.form-group
          label(for='surname')
          input#name.form-control(type='text', placeholder='101 codes' name='surname')
        div.form-group
          label(for='phone')
          input#phone.form-control(type='text', placeholder='Телефон' name='phone')
        div.form-group
          label(for='email')
          input#email.form-control(type='email', placeholder='Эл.почта' name='email')
        button.contacts__button(type='submit') Демо доступ
      .site-information The Waay. Demo version v1
