.threeLayersIllustration {
  position: relative;
  &__overlay {
    width: 100%;
    background-image: url('/img/gradient.svg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1280px;
    text-align: center;
    background-position: center;
    // min-height: 800px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}

