.topBanksAchievements {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
  height: 40px;
}

.topBanksAchievements__item {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 1s ease-in;
  width: 100%;


  @media screen and (min-width: $tablet) {
    font-size: 32px;
    line-height: 36px;
  }
}

.topBanksAchievements__item--visible {
  opacity: 1;
}
