.footerSocials {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 118px;
  @media screen and (min-width: $tablet) {
    width: 158px;
  }
}

.footerSocials__item {
  @media screen and (min-width: $tablet) {

  }
}

.footerSocial__logo {
  @media screen and (min-width: $tablet) {

  }
}

.footerSocial__logo--telegram {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}

.footerSocial__logo--fb {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}

.footerSocial__logo--m {
  height: 30px;
  width: 30px;
  @media screen and (min-width: $tablet) {
    height: 40px;
    width: 40px;
  }
}