.page {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.page__header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
  position: fixed;
  z-index: 8;
}

.page__menu {
  position: fixed;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.25s ease;
  width: 100%;
  z-index: 7;
}

.page__menu--active {
  transform: translateX(0%);
}

.page__section {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page__content {
  box-sizing: border-box;
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  @media screen and (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.page__version {
  display: none;
  position: fixed;
  right: -45px;
  top: 50%;
  transform: rotate(-90deg);
  z-index: 9;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}
