.signIn {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.signIn__title {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.signIn__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.signIn__fields {
  max-width: 260px;
  width: 100%;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 110px;
    max-width: 490px;
  }
}

.signIn__submit {
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.signIn__circle1 {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  height: 160px;
  right: 230px;
  position: absolute;
  top: 180px;
  width: 160px;
  z-index: 2  ;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.signIn__circle2 {
  display: none;
  background-image: linear-gradient(-125deg, #D65718, #EFAC56);
  bottom: 100px;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  left: 200px;
  width: 60px;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.signIn__error {
  color: #fff;
  display: none;
  font-size: 20px;
  line-height: 1em;
  margin-top: 20px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    margin-top: 40px;
  }
}
