.page__section.page__header
  .page__content
    header.header
      a.header__logoLink(href='/#about')
        svg.svg.header__logo
          use(xlink:href='#svgTheWaayLogo')

      a.button.button--attention.header__button(href='sign_in.html')
        | Войти

      .header__burger
        button.burger
          svg.svg.burger__iconClose
            use(xlink:href='#svgClose')

          svg.svg.burger__iconCloseMobile
            use(xlink:href='#svgCloseMobile')

          svg.svg.burger__icon
            use(xlink:href='#svgBurgerIcon')

          svg.svg.burger__iconMobile
            use(xlink:href='#svgBurgerMobileIcon')
