section.page__section.page__menu.menu
  .page__content
    .menu__content
      .menu__navigation
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a.navigation__link(href='/#about')
                | TheWaay

            li.navigation__item
              a.navigation__link(href='/#topBanks')
                | Проекты

            li.navigation__item
              a.navigation__link(href='/#cases')
                | Кейсы

            li.navigation__item
              a.navigation__link(href='/#weHelp')
                | Особенности

            li.navigation__item
              a.navigation__link(href='/#lookAndRead')
                | Полезное

      .menu__subscribe
        include ../index/_subscribe
